<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Salut user[name], merci de ta confiance !</h1>

    <p>
      N'hésite pas à revenir consulter nos autres abonnements actuels et à venir !
    </p>
    <p> À très vite sur http://bardic-reveries.com !
  </body>

</html>