<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur Bardic Reveries !</title>
  <style>
    /* Styles CSS */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 40px;
    }

    h1 {
      color: #333;
    }

    p {
      color: #555;
    }

    .highlight {
      color: #007bff;
      font-weight: bold;
    }

    .footer {
      margin-top: 20px;
      text-align: center;
      color: #777;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Bienvenue sur Bardic Reveries !</h1>
    <p>Cher(e) user[:name],</p>
    <p>Nous sommes ravis de vous accueillir au sein de nos rêveurs ! Votre inscription est un premier pas vers une expérience incroyable.</p>
    <p><a href="https://www.bardic-reveries.com">Bardic Reverie</a>
    est conçu pour développer votre imaginaire à l'aide d'histoires fascinantes et d'une communauté dynamique. Que vous soyez ici pour lire ou partager vos écrits, vous êtes au bon endroit.</p>
    
    <p>Nous sommes ravis de vous avoir parmi nous et nous sommes convaincus que vous apprécierez l'expérience offerte par site.</p>
    <p class="footer">Cordialement,<br>L'équipe de Bardic Reveries
