body,html{
  margin: 0;
  padding: 0;
}

body {
    background-image: url(/assets/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
  
  }

/* Texte  */

.title {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}


/* Navbar */


  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #00121f;
    overflow: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: large;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-nav li {
    float: right;
    display: inline-block;
  }
  
  .navbar-nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-nav a:hover {
    color: #2674f2;
  }

  /* logo */

  .logo {
    float: left;
    margin-left: 2rem;
    background-image: url('assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 18rem;  /* Width of logo */
    height: 3rem;  /* Height of logo */
    }

    .country-icons {
      display: flex;
      justify-content: center; /* aligne les éléments horizontalement au centre */
      align-items: center; /* aligne les éléments verticalement au centre */
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  

    .country-icons li {
        display: inline-block;
        margin-right: 1rem;
    }

    /* Pour le dernier élément, on supprime la marge à droite */
    .country-icons li:last-child {
        margin-right: 0;
    }   
  
    #uk {
        background-image: url('assets/icons/uk.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 30px; /* ajustez en fonction de la taille de votre icône */
        height: 30px; /* ajustez en fonction de la taille de votre icône */
        margin-left: 4rem;
    }

    #uk:hover {
        background-image: url('assets/icons/uk-hover.png');
    }
    
    #fr {
        background-image: url('assets/icons/fr.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 30px; /* ajustez en fonction de la taille de votre icône */
        height: 30px; /* ajustez en fonction de la taille de votre icône */
        margin-right: 4rem;
    }

    #fr:hover {
        background-image: url('assets/icons/fr-hover.png');
    }
    
  


/* Forms */

#loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;

}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: bold;
}

.field input {
  width: 20rem;
  padding: 10px;
  font-size: 16px;
}

.field input, .field select {
  height: 2rem; /* Ajustez cette valeur à votre convenance */
}


.actions {
  display: flex;
  justify-content: center;
  margin-right: 8rem;
}


.actions input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.devise-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  margin-right: 8rem;
}

.devise-links a {
  margin: 0 10px;
  color: #fff;
}

.remember-me {
  align-items: center;
}

.remember-me label {
  margin-left: 10px; /* Vous pouvez ajuster cette valeur en fonction de vos besoins */
}

.puce-remember {
  position: absolute;
}



/* Auth */

h2#signup {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 4em;
}

h2#login {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 4em;
}

.form-box {
  padding: 20px;
  width: 100%;
  max-width: 500px; /* vous pouvez ajuster cette valeur */
  margin-top: 2rem;
}


/* Cards */

.story-card {
  width: 80%;
  margin: 5% auto;
  background-color: rgba(255,255,255,0.8); /* Changer en fonction de votre préférence */
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15); /* Changer en fonction de votre préférence */
  color: #000b12;
  margin-top: 6rem;
}

.story-summary {
  width: 80%;
  margin: 2% auto;
  background-color: rgba(255,255,255,0.8); /* Changer en fonction de votre préférence */
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15); /* Changer en fonction de votre préférence */
  color: #000000;
}

.story-summary h2 {
  font-size: 2rem; /* Ajustez en fonction de vos préférences */
  margin-bottom: 1rem;
}

.story-summary p {
  color: #888; /* Couleur du texte */
  margin-bottom: 1rem;
}

.story-summary .delete-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #01588d; /* Couleur de fond du bouton */
  padding: 10px 20px;
  border-radius: 5px;
}

.story-summary .delete-button:hover {
  background-color: #72b3da; /* Couleur de fond du bouton au survol */
}



/* Footer */

footer {
    background-image: url('assets/footer_min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 44vh;
    bottom: 0;
    text-align: center;
    color: #fff; /* Couleur du texte */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;
    padding: 20px;
  
    }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    }


main {
  margin-bottom: 12px;
}

.main-content {
  flex: 1;
} 

/* Ajouter ce CSS à la fin de votre fichier CSS */

.hamburger {
  display: none;
  color: #fff; /* La couleur du bouton hamburger */
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  .navbar-nav {
    display: none;
  }

  .hamburger {
    display: block;
    background-color: rgba(0,0,0,0);
    margin-left: 10rem;
  }
}

.navbar-nav.vertical {
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none; /* Ajout de cette ligne */
}

.navbar-nav.vertical li {
  float: none; /* Ajoutez cette ligne */
  display: block;
  margin: 5px 0;
}

.navbar-nav.vertical li a {
  color: #000;
}