<nav class="navbar">
<div class="logo"></div>
<ul div class="country-icons">
    <li><a href="#" id="uk"></a></li>
    <li><a href="#" id="fr"></a></li>
</ul>
  <ul class="navbar-nav">
    <li><a href="#">Saved Story</a></li>
    <li><a href="#">New Story</a></li>
    <li><a href="#">Home</a></li>
  </ul>
</nav>