<nav class="navbar">
<div class="logo"></div>
  <ul class="navbar-nav">
    <li><a href="#">Saved Story</a></li>
    <li><a href="#">New Story</a></li>
    <li><a href="#">Home</a></li>
  </ul>
</nav>